@font-face {
  font-family: "Brushwell";
  src: url("./fonts/Brushwell.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Nextart";
  src: url("./fonts/Nextart.woff2") format("woff2"), url("./fonts/Nextart.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "Nextart-light";
  src: url("./fonts/Nextartlight.woff2") format("woff2"), url("./fonts/Nextartlight.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Rz-regular";
  src: url("./fonts/RZ-Regular.woff2") format("woff2"), url("./fonts/RZ-Regular.woff") format("woff");
  font-weight: 400;
}
